{% extends 'base.html.twig' %}
{% block body %}
    <div id="edit-users"></div>

{% endblock %}
{% block addscripts %}
    <script type="text/javascript">
        jQuery(document).ready(function() {

            var role = {{ role|json_encode|raw }};

            new HTML.Table()
                    .setSkinTable('bordered-none')
                    .setSkinPanel('primary')
                    .setPadding('sm')
                    .setTitleTable('Редактирование пользователя')
                    .addRow('body')
                    .addCell(
                            new HTML.Fields(3)
                                    .setLineLabel(4)
                                    .addInput(null, 'Фамилия', 'lastname', 'star', false)
                                    .addInput(null, 'Имя', 'username', null, false)
                                    .addInput(null, 'Отчество', 'midlename', null, false)
                                    .toHtml(),
                            1, 1
                    )
                    .addRow('body')
                    .addCell(
                            new HTML.Fields(3)
                                    .setLineLabel(4)
                                    .addInput(null, 'Логин', 'login', null, false)
                                    .addInput(null, 'Пароль', 'password', null, false)
                                    .addInput(null, 'Email', 'email', null, false)
                                    .toHtml(),
                            1, 1
                    )
                    .addRow('body')
                    .addCell(
                            new HTML.Fields(3)
                                    .setLineLabel(4)
                                    .addSelectList(role, 'ROLE_USER', 'role', 'Роль')
                                    .toHtml(),
                            1, 1
                    )
                    .setContentAfterTable(
                            new HTML.Button('toolbar', null)
                                    .setPositionBlock('right')
                                    .setActive(true)
                                    .addButton('Сохранить', 'save-data', null, 'plus', false)
                                    .setSkin('danger')
                                    .addButton('Удалить', 'delete-data', null, 'remove', false)
                                    .toHtml()
                    )
                    .appendHtml('#edit-users')
        });
    </script>
{% endblock %}