{% extends 'base.html.twig' %}
{% block body %}
    <div id="list-users"></div>

{% endblock %}
{% block addscripts %}
    <script type="text/javascript">
//        jQuery(document).ready(function() {
//            new HTML.Input()
//        });
    </script>
{% endblock %}