{% extends 'base.html.twig' %}
{% block body %}

    <h1>sdfsdf</h1>

{% endblock %}
{% block addscripts %}
    <script type="text/javascript">
        jQuery(document).ready(function() {

        });
    </script>
{% endblock %}