{% extends 'admin/base.html.twig' %}

{% block content %}
    <div id="page-html"></div>
{% endblock %}



{% block javascripts %}
    {{ parent() }}
    {% javascripts '@AdminBundle/Resources/public/js/main/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

